@model IEnumerable<Test.Models.Receipts>

@{
    ViewBag.Title = "Рецепты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Рецепты</h2>

<p>
    @Html.ActionLink("Добавить рецепт", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Рецепт
        </th>
        <th>
            Ингридиенты
        </th>
        <th>
            Количество ингридиентов
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingridients.IngridientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingridient_Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Receipt_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Receipt_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Receipt_Id })
            </td>
        </tr>
    }

</table>
