@model IEnumerable<Test.Models.Dishes>

@{
    ViewBag.Title = "Блюда";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Блюда</h2>
<p>
    @Html.ActionLink("Добавить блюдо", "Create")
</p>
<p>
    @Html.ActionLink("Блюда по категориям", "Index", "Categories")
</p>
<table class="table">
    <tr>
        <th>
            Блюдо
        </th>
        <th>
            Категория
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DishName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categories.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Dish_Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Dish_Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Dish_Id})
        </td>
    </tr>
}

</table>
